{% extends "base.html.twig" %}

{% block title %} {{ title }} | {{ parent()}} {% endblock %}

{% block body %}
<div class="container-xl">
        <h1 class="py-5">{{ title }}</h1>

        <div class="pb-5">Welkom op de homepage</div>

        {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                        {{ msg }}
                </div>
        {% endfor %}


        <div class="row justify-content-md-center">


                        {% for category in categories %}

                <div class="col-md-auto px-5">

                        <div class="card " style="width: 18rem;">
                                <div class="view overlay">
                                        <img class="card-img-top p-3" src="{{ asset(category.image) }}"
                                             alt="Card image cap">
                                        <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                        </a>
                                </div>

                                <div class="card-body">
                                        <h4 class="card-title">{{ category.name }}</h4>

                                        <p class="card-text "> <span style="
                                  display:inline-block;
                                  white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;
                                  max-width: 20ch;">
                                    {{ category.description }}   </span>   </p>
                                        
                                        <a href="{{ path('category', {'id': category.id}) }}" class="btn btn-outline-dark">Zie alle Pizza's</a>
                                </div>
                        </div>
                </div>
                        {% endfor %}
        </div>


</div>
{% endblock %}
