{% extends "base.html.twig" %}

{% block title %} {{ title }} | {{ parent()}} {% endblock %}

{% block body %}
    <div class="container-xl">
        <h1 class="py-5">{{ title }}</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Bestelling Nr</th>
                <th scope="col">Pizza</th>
                <th scope="col">Maat</th>
                <th scope="col">Klant</th>
                <th scope="col">Adres</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.pizza.name }}</td>
                    <td>{{ order.size }}</td>
                    <td>{{ order.costumer }}</td>
                    <td>{{ order.adres }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.status }}</td>
                </tr>

            {% endfor %}


            </tbody>
        </table>




    </div>
{% endblock %}
