{% extends "base.html.twig" %}

{% block title %} {{ title }} | {{ parent()}} {% endblock %}

{% block body %}


    <div class="container-xl">
        <div class="row">
            <h1 class="py-5">Bestel nu je pizza</h1>

            <div class="col-6">

                <img class="mx-2" src="{{ asset(pizza.image) }}" style="max-height: 20rem;">
                <h3 class="m-5">{{ pizza.name }}</h3>
                <p class="mx-5">{{ pizza.description }}</p>
                <p class="mx-5">€{{ pizza.price }}</p>

            </div>

            <div class="col-6">

            {{ form(form) }}

            </div>

        </div>

    </div>



{% endblock %}
