{% extends "base.html.twig" %}

{% block title %} {{ title }} | {{ parent()}} {% endblock %}


{% block body %}



    <div class="container-xl">
        <h1 class="py-5">{{ category.name }}</h1>
        <div class="row justify-content-md-center">


            {% for pizza in pizzas %}

                <div class="col-md-auto px-5">
                    <div class="card " style="width: 18rem;">
                        <div class="view overlay">
                            <img class="card-img-top p-3" src="{{ asset(pizza.image) }}"
                                 alt="Card image cap">
                            <a href="{{ path('pizza', {'id': pizza.id}) }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{ pizza.name }}</h4>
                            <!--Text-->
                            <p class="card-text "> <span style="
                                  display:inline-block;
                                  white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;
                                  max-width: 20ch;">
                                    {{ pizza.description }}   </span>   </p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                            <a href="{{ path('pizza', {'id': pizza.id}) }}" class="btn btn-outline-dark"">Bestel</a>

                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>

{% endblock %}